/* header */
.header {
    
    height:891px ;
}
.header-container {
    max-width: 1440px;
    height: 891px;
}
.header-wraper {
    max-width: 1264px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    width: 416px;
    display: flex;
    justify-content: space-between;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 48px;
}
.header-buttons {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.signup {
    width: 86px;
    height: 36px;
    background-color: #22C55E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.btn-signup {
    border: none;
    background-color: #22C55E;
    color: #FFFFFF;
}
/* header gray box */
.gray-bg {
    max-width: 1140px;
    width: 100%;
    height: 568px;
    padding-top: 20px;
    background-color: #2A3342;
    border-radius: 24px;
    margin: 0 auto;
    position: relative;
}
.header-text {
    max-width: 847px;
    width: 100%;
    height: 392px;
    position: absolute;
    top: 88px;
    left: 147px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-badge {
    width: 62px;
    height: 22px;
    background-color: #22C55E;
    color: #FFFFFF;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    width: 847px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text h3 {
    width: 847px;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 72px;
    letter-spacing: -2%;
    margin-top: 24px;
}
.text p {
    width: 715px;
    font-size: 20px;
    color: #8896AB;
    line-height: 30px;
    margin-top: 24px;
}
.email-access {
    width: 543px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}
.email {
    width: 320px;
    height: 56px;
    position: relative;
    
}
.input-element {
    /* position: relative; */
    padding-left: 46px;
    outline: none;
    border: none;
    height: 56px;
    font-size: 16px;
    border-radius: 8px;
}
.fa-envelope {
    position: absolute;
    left: 14px;
    top: 16px;
    font-size: 20px;
}
.access {
    width: 207px;
    height: 56px;
    background-color: #22C55E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.access-btn {
    background-color: #22C55E;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}
.free-trial {
    width: 715px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    color: #8896AB;
}